/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body{
    color: #444468f2 !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.sidebar,
.offcanvas {
    width: 250px !important;
}

.link{
    color: red;
}

.border {
  border: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

main {
    margin-left: 250px;
}

@media (max-width: 991px) {
    main {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .offcanvas {
        width: 320px !important;
    }
}

@media (max-width: 420px) {
    .offcanvas {
        width: 87vw !important;
    }
}
